.custom-navbar-height {
  max-height: 56px;
  height: 100%;
}

.custom-footer-height {
  max-height: 70px;
  height: 100%;
}

.custom-container-height {
  height: calc(100vh - 56px - 71px);
}

@media (max-width: 768px) { 
  .custom-navbar-height {
    max-height: 95px;
    height: 100%;
  }
  
  .custom-footer-height {
    max-height: 70px;
    height: 100%;
  }
  
  .custom-container-height {
    height: calc(100vh - 95px - 71px);
  }
}
